.footer {
  background-color: rgb(69, 69, 69);
}
.footer .resumen {
  display: flex;
  padding: 10px 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.resumen .contac {
  margin: 10px;
  text-align: center;
  justify-content: center;
}
.contac h5 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  font-size: 24px;
}
.contac p {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  padding: 10px 20px;
}
.resumen .contac .social-icons {
  text-align: center;
  max-width: 35%;
  margin: auto;
}
.social-icons .fab {
  color: rgb(232, 231, 231);
}
.resumen .Opening {
  text-align: center;
}
.contac span,
.contac h6,
.contac p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;

}

@media (max-width: 768px) {
  .footer .resumen {
    flex-direction: column;
  }
}
